# database
DATABASE_URL=

# auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# inngest
INNGEST_DEV=1

# google generative ai
GOOGLE_GENERATIVE_AI_API_KEY=

# open ai
OPENAI_API_KEY=

# antropic
ANTHROPIC_API_KEY=
ANTHROPIC_AUTH_TOKEN=